

/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}


/* NAVBAR */

.logo img {
   height: 60px;
   width: auto;
   display: block;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.nav-links {
     position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #000;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        display: none;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    position: relative;
  
}

.nav-links li a {
    transition: color 0.4s ease;
    letter-spacing: 0.3s;
    overflow: hidden;
}

.nav-links li a::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: gold;
    letter-spacing: 0px;
    transform: scalex(0);
    transform-origin: left;
    transition: transform 0.4s ease, letter-spacing 0.4s ease;
    opacity: 0;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
    letter-spacing: 3px;
    opacity: 1;

}

.nav-links li a:hover {
    color: transparent;
}

.nav-links li a.active {
    background-color: gold;
    color: #000;
    display: flex;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: gold;
    border-radius: 3px;
}

/* MOBILE MENU */

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #000;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }






h1, h2, p {
    text-align: center;
}

/* HEADER */
header {
    padding: 60px 20px;
    background: #000;
}

.contact-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;

}

/* CONTACT SECTION */
.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.contact-info {
    max-width: 350px;
    background: #222;
    padding: 25px;
    border-radius: 8px;
}

.whatsapp-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background: #25d366;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* CONTACT-FORM */
.contact-form {
    max-width: 400px;
    background: #222;
    padding: 25px;
    border-radius: 8px;
    
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;

}

.contact-form button {
    width: 100%;
    padding: 12px;
    background: gold;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/* BOOKING SECTION */
.booking-section {
    padding: 60px 20px;
}
.booking-form {
    max-width: 500px;
    margin: auto;
    background: #222;
    padding: 25px;
    border-radius: 8px;
}

.booking-form select,
.booking-form input,
.booking-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #333;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

.booking-form button {
    width: 100%;
    padding: 12px;
    background: gold;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}


/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #000;
}

.socials a {
    margin: 0 10px;
    height: 60px;
    width: 35px;
    text-decoration: none;
    color: gold;
    font-size: 25px;
}

/* MEDIA QURIES */

@media screen and (max-width: 600px) {
     body {
        overflow-x: hidden;
    }

    .navbar {
        padding: 10px 15px;
    }

     .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
    

    header {
        width: 100%;
        text-align: center;
        margin-top: 130px;
    }
   

    .contact-info {
        margin-bottom: 30px;
    }

    footer p {
        font-size: 16px;

    }

    .hamburger {
        display: flex;
    }
}


